

<input type="text" [(ngModel)]="searchTerm" (ngModelChange)="filter()" placeholder="search">
<button type="button" class="btn btn-outline-primary" (click) ="Clear()">Clear</button>

<button type="button" class="btn btn-outline-primary" (click)="ChangeDisplay()">{{display}}</button>
<button type="button" class="btn btn-outline-primary" (click) ="refrese()">Refrese</button>
<button type="button" class="btn btn-outline-primary" (click) ="Sort()">Sort</button>

<div *ngIf="data$ | async as items">
  <app-list-items *ngIf="display ==='Grid display'" [listItems]="items"  ></app-list-items>
  <app-grid-items *ngIf="display ==='List display'" [listItems]="items" (newName)="saveNewName($event)" ></app-grid-items>
</div>
<router-outlet></router-outlet>